<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.mrbird.web.dao.AdvertMapper" >
  <resultMap id="BaseResultMap" type="cc.mrbird.web.domain.Advert" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="orders" property="orders" jdbcType="INTEGER" />
    <result column="addDate" property="addDate" jdbcType="TIMESTAMP" />
    <result column="editDate" property="editDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, photo, orders, addDate, editDate
  </sql>
  <select id="findAdvertByPage" resultMap="BaseResultMap"  parameterType="cc.mrbird.web.domain.Notice">
    select
    <include refid="Base_Column_List" />
    from advert a
    where 1=1
    <if test='orders != null and orders != "" '>
      AND a.orders = #{orders}
    </if>
    order by a.addDate desc
  </select>

  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from advert
    where id = #{id,jdbcType=INTEGER}
  </select>


  <delete id="deleteAdvert" parameterType="java.lang.Integer" >
    delete from advert
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="addAdvert" parameterType="cc.mrbird.web.domain.Advert" >
    insert into advert ( photo, orders,
      addDate, editDate)
    values ( #{photo,jdbcType=VARCHAR}, #{orders,jdbcType=INTEGER},
      #{addDate,jdbcType=TIMESTAMP}, #{editDate,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateAdvert" parameterType="cc.mrbird.web.domain.Advert" >
    update advert
    <set >
      <if test="photo != null" >
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="orders != null" >
        orders = #{orders,jdbcType=INTEGER},
      </if>
      <if test="editDate != null" >
        editDate = #{editDate,jdbcType=TIMESTAMP}
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>