<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.mrbird.web.dao.SysUserMapper" >
  <resultMap id="BaseResultMap" type="cc.mrbird.web.domain.SysUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="sys_id" property="sysId" jdbcType="INTEGER" />
    <result column="if_delete" property="ifDelete" jdbcType="INTEGER" />
    <result column="if_read" property="ifRead" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, sys_id, if_delete, if_read
  </sql>

</mapper>